<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanban.dao.FeedBackMapper">
  <resultMap id="BaseResultMap" type="com.wanban.pojo.FeedBack">
    <id column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_content" jdbcType="VARCHAR" property="questionContent" />
    <result column="question_time" jdbcType="TIMESTAMP" property="questionTime" />
    <result column="question_status" jdbcType="INTEGER" property="questionStatus" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <resultMap id="FeedBackResultMap" type="com.wanban.pojo.FeedBack">
    <id column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="question_content" jdbcType="VARCHAR" property="questionContent" />
    <result column="question_time" jdbcType="TIMESTAMP" property="questionTime" />
    <result column="question_status" jdbcType="INTEGER" property="questionStatus" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <association property="user" column="user_id" select="com.wanban.dao.UserMapper.selectByPrimaryKey"></association>

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    question_id, question_content, question_time, question_status, user_id
  </sql>
  <select id="selectByExample" parameterType="com.wanban.pojo.FeedBackExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from feedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feedback
    where question_id = #{questionId,jdbcType=INTEGER}
  </select>

  <!-- list集合 -->
  <select id="list" parameterType="Map" resultMap="FeedBackResultMap">
    select * from feedback
    <where>
      <if test="questionStatus!=null">
        and question_status=#{questionStatus}
      </if>
      <if test="userId!=null and userId!='' ">
        and user_id = #{userId}
      </if>
    </where>
    order by question_time DESC
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>

  <!-- getTotal -->
  <select id="getTotal" parameterType="Map" resultType="Long">
    select count(*) from feedback
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from feedback
    where question_id = #{questionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wanban.pojo.FeedBackExample">
    delete from feedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wanban.pojo.FeedBack">
    insert into feedback (question_id, question_content, question_time, 
      question_status, user_id)
    values (#{questionId,jdbcType=INTEGER}, #{questionContent,jdbcType=VARCHAR}, now(),
      0, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wanban.pojo.FeedBack">
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        question_id,
      </if>
      <if test="questionContent != null">
        question_content,
      </if>
      <if test="questionTime != null">
        question_time,
      </if>
      <if test="questionStatus != null">
        question_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="questionContent != null">
        #{questionContent,jdbcType=VARCHAR},
      </if>
      <if test="questionTime != null">
        #{questionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionStatus != null">
        #{questionStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wanban.pojo.FeedBackExample" resultType="java.lang.Long">
    select count(*) from feedback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update feedback
    <set>
      <if test="record.questionId != null">
        question_id = #{record.questionId,jdbcType=INTEGER},
      </if>
      <if test="record.questionContent != null">
        question_content = #{record.questionContent,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTime != null">
        question_time = #{record.questionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.questionStatus != null">
        question_status = #{record.questionStatus,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update feedback
    set question_id = #{record.questionId,jdbcType=INTEGER},
      question_content = #{record.questionContent,jdbcType=VARCHAR},
      question_time = #{record.questionTime,jdbcType=TIMESTAMP},
      question_status = #{record.questionStatus,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wanban.pojo.FeedBack">
    update feedback
    <set>
      <if test="questionContent != null">
        question_content = #{questionContent,jdbcType=VARCHAR},
      </if>
      <if test="questionTime != null">
        question_time = #{questionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionStatus != null">
        question_status = #{questionStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wanban.pojo.FeedBack">
    update feedback
    set question_content = #{questionContent,jdbcType=VARCHAR},
      question_time = #{questionTime,jdbcType=TIMESTAMP},
      question_status = #{questionStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where question_id = #{questionId,jdbcType=INTEGER}
  </update>
</mapper>